*.Rhistory
*.Rdata
*.RData
cod/codVersions/*
cod/codModel/*
cod/codModel2/*
cod/hvyCnts/*
atlantisInfo/*
modelRunProtocol.txt
/template/
codeFromErla/*
sppTemplate/*
cod/setup/copyModel.sh
cod/setup/itterfitter.sh
cod/totalcounts
cod/age0.1model/*
haddock/age0.1model/
cod/age5yrModel/
haddock/age5yrModel/
cod/noAgeModel/
cod/age0.1Model
haddock/noAgeModel/
haddock/hadModel/
haddock/hadVersions/
cod/dataPoorModels/
haddock/dataPoorModels/
cod/codModelTemp/
functions/pauls.gadget.test.skeleton.R
functions/testSkeletonFunctions.R
haddock/mPlot.pdf
haddock/setup/hadTracerResults.html
haddock/functions/paulsGadgetPrintfile.R
haddock/simModel/
haddock/setup/setupSim/
OutM45BioV158FMV79_PF
ideas
functions/ricker.R
cod/codSpawn/
cod/codSpawnTemp/
gadgetTest/zbraModel
gadgetTest/zbraInit
gadgetTest/zbraVersions
cod/rmFiles.sh
gadgetTest/zbraSetup/timeAreaData/
gadgetTest/zbraSetup/zbramodelsetupcode.zip
gadgetTest/zbraSetup/area
gadgetTest/results/*.pdf
gadgetTest/results/*.html
varTest/varModels
varTest/varTestVersions
varTest/results/varMod/varMod.RData
varTest/bootruns
cod/test
cod/test2
