.Rhistory
cod/codVersions/*
cod/codModel/*
atlantisInfo/*
codeFromErla/*
sppTemplate/*
cod/modelCheck/*
cod/setup/copyModel.sh
cod/setup/itterfitter.sh
cod/age0.1model/
haddock/age0.1model/
cod/age5yrModel/
haddock/age5yrModel/
cod/noAgeModel/
haddock/noAgeModel/
haddock/hadModel/
haddock/hadVersions/
cod/dataPoorModels/
haddock/dataPoorModels/
cod/codModelTemp/
functions/pauls.gadget.test.skeleton.R
functions/testSkeletonFunctions.R
haddock/mPlot.pdf
haddock/setup/hadTracerResults.html
haddock/functions/paulsGadgetPrintfile.R
haddock/simModel/
haddock/setup/setupSim/
OutM45BioV158FMV79_PF
ideas
cod/codSpawn/
cod/codSpawnTemp/
cod/rmFiles.sh
varTest/bootstrapRun
varTest/errBootRuns
varTest/varModels

